.actionsRow {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.actionButton {
  width: 250px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.filterControl {
  flex: 1 1 200px;
}

.deleteButton {
  background-color: red;
}

@media (max-width: 640px) {
  .actionsRow {
    flex-direction: column;
  }

  .actionButton,
  .filterControl {
    width: 100%;
  }
}
