.mainNavButton {
  display: inline-flex;
  align-items: center;
  height: 51px;
  padding: 0 13px;
  border: 3px solid #f99026;
  border-radius: 10px;
  background-color: #f8f9fa;
  cursor: pointer;
  font-size: 24px;
  transition: 0.1s;

  &:hover {
    background-color: #f99026;
    color: white;
  }
}

.mainNavButtonsContainer {
  display: flex;
  flex-direction: row;
  gap: 26px;
  margin-top: 43px;
  margin-left: 1px;
}
