.searchInput {
  width: 300px;
  margin-bottom: 20px;
}

.deleteButton {
  background-color: red;
}

.ordersPopup {
  width: 700px;
  max-height: 80vh;
  overflow-y: auto;
}

.orderGroup {
  margin-bottom: 20px;
}

.orderItem {
  padding-left: 10px;
}
