.message {
  margin-top: 20px;
  font-size: 18px;
}

.details {
  margin-top: 8px;
  color: #666;
  font-size: 14px;
}

.ordersLinkWrap {
  margin-top: 12px;
  margin-bottom: 580px;
}

.ordersLink {
  color: #f99026;
}
