* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: inherit;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

html {
  font-family: var(--font-montserrat), sans-serif;
}

body {
  min-height: 100vh;
  display: block;
  flex-direction: column;
  font-family: inherit;
  background-color: #f8f9fa;
}
